{%load static%}
<div class="iq-top-navbar">
    <div class="iq-navbar-custom">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-search-bar device-search">
                <form>
                    <div class="input-prepend input-append">
                        <div class="btn-group">
                            <label class="dropdown-toggle searchbox" data-toggle="dropdown">
                            <input class="dropdown-toggle search-query text search-input" type="text"  placeholder="Type here to search..."><span class="search-replace"></span>
                            <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                            <span class="caret"><!--icon--></span>
                            </label>
                            <ul class="dropdown-menu">
                                <li><a href="#"><div class="item">DropLets</div></a></li>
                                <li><a href="#"><div class="item">Kubernets</div></a></li>
                                <li><a href="#"><div class="item">Apps</div></a></li>
                                <li><a href="#"><div class="item">Images</div></a></li>
                                <li><a href="#"><div class="item">Networking</div></a></li>
                                <li><a href="#"><div class="item">Spaces</div></a></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="create-dropdown nav-icon dropdown mr-2">
                <a href="#" class="search-toggle dropdown-toggle btn btn-primary text-white add-btn"
                    id="dropdownMenuButton002" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Create<i class="ri-arrow-down-s-line arrow pl-2"></i>
                </a>
                <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton002">
                    <div class="card shadow-none m-0">
                        <div class="card-body p-0">
                            <a href="page-droplets.html" class="">
                                <div class="d-flex align-items-center p-3 border-bottom">
                                    <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                        D
                                    </div>
                                    <div>
                                        <h6>DropLets</h6>
                                        <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                    </div>
                                </div>
                            </a>
                            <a href="page-kubernetes.html" class="">
                                <div class="d-flex align-items-center p-3 border-bottom">
                                    <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                        K
                                    </div>
                                    <div>
                                        <h6>Kubernets</h6>
                                        <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                    </div>
                                </div>
                            </a>
                            <a href="page-apps.html" class="">
                                <div class="d-flex align-items-center p-3 border-bottom">
                                    <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                        A
                                    </div>
                                    <div>
                                        <h6>Apps</h6>
                                        <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                    </div>
                                </div>
                            </a>
                            <a href="page-images.html" class="">
                                <div class="d-flex align-items-center p-3 border-bottom">
                                    <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                        I
                                    </div>
                                    <div>
                                        <h6>Images</h6>
                                        <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                    </div>
                                </div>
                            </a>
                            <a href="page-networking.html" class="">
                                <div class="d-flex align-items-center p-3 border-bottom">
                                    <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                        N
                                    </div>
                                    <div>
                                        <h6>Networking</h6>
                                        <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                    </div>
                                </div>
                            </a>
                            <a href="page-spaces.html" class="">
                                <div class="d-flex align-items-center p-3">
                                    <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                        S
                                    </div>
                                    <div>
                                        <h6>Spaces</h6>
                                        <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-label="Toggle navigation">
                    <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                        <li class="nav-item nav-icon icon-dropdown dropdown">
                            <a href="#" class="search-toggle dropdown-toggle btn btn-primary text-white add-btn"
                                id="dropdownMenuButton02" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Create<i class="ri-arrow-down-s-line arrow pl-2"></i>
                            </a>
                            <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <div class="card shadow-none m-0">
                                    <div class="card-body p-0">
                                        <a href="page-droplets.html" class="">
                                            <div class="d-flex align-items-center p-3 border-bottom">
                                                <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                                    D
                                                </div>
                                                <div>
                                                    <h6>DropLets</h6>
                                                    <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="page-kubernetes.html" class="">
                                            <div class="d-flex align-items-center p-3 border-bottom">
                                                <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                                    K
                                                </div>
                                                <div>
                                                    <h6>Kubernets</h6>
                                                    <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="page-apps.html" class="">
                                            <div class="d-flex align-items-center p-3 border-bottom">
                                                <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                                    A
                                                </div>
                                                <div>
                                                    <h6>Apps</h6>
                                                    <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="page-images.html" class="">
                                            <div class="d-flex align-items-center p-3 border-bottom">
                                                <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                                    I
                                                </div>
                                                <div>
                                                    <h6>Images</h6>
                                                    <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="page-networking.html" class="">
                                            <div class="d-flex align-items-center p-3 border-bottom">
                                                <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                                    N
                                                </div>
                                                <div>
                                                    <h6>Networking</h6>
                                                    <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="page-spaces.html" class="">
                                            <div class="d-flex align-items-center p-3">
                                                <div class="icon iq-icon-box-2 icon-text bg-body rounded">
                                                    S
                                                </div>
                                                <div>
                                                    <h6>Spaces</h6>
                                                    <p class="mb-0 text-body font-size-14">Create cloud server</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-icon search-content">
                            <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="ri-search-line"></i>
                            </a>
                            <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                                <form action="#" class="searchbox p-2">
                                    <div class="form-group mb-0 position-relative">
                                        <input type="text" class="text search-input font-size-12"
                                            placeholder="type here to search...">
                                        <a href="#" class="search-link"><i class="las la-search"></i></a>
                                    </div>
                                </form>
                            </div>
                        </li>
                        
                        <li class="nav-item nav-icon dropdown">
                            <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" width="24px" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                                </svg>
                                <span class="bg-primary "></span>
                            </a>
                            <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="card shadow-none m-0">
                                    <div class="card-body p-0 ">
                                        <div class="cust-title p-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h5 class="mb-0">Notifications</h5>
                                                <a class="badge badge-primary badge-card" href="#">3</a>
                                            </div>
                                        </div>
                                        <div class="px-3 pt-0 pb-0 sub-card">
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center cust-card py-3 border-bottom">
                                                    <div class="">
                                                        <img class="avatar-50 rounded-small"
                                                            src="{% static 'images/user/01.jpg' %}" alt="01">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <h6 class="mb-0">Emma Watson</h6>
                                                            <small class="text-dark"><b>12 : 47 pm</b></small>
                                                        </div>
                                                        <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center cust-card py-3 border-bottom">
                                                    <div class="">
                                                        <img class="avatar-50 rounded-small"
                                                            src="{% static 'images/user/02.jpg' %}" alt="02">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <h6 class="mb-0">Ashlynn Franci</h6>
                                                            <small class="text-dark"><b>11 : 30 pm</b></small>
                                                        </div>
                                                        <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="iq-sub-card">
                                                <div class="media align-items-center cust-card py-3">
                                                    <div class="">
                                                        <img class="avatar-50 rounded-small"
                                                            src="{% static 'images/user/03.jpg' %}" alt="03">
                                                    </div>
                                                    <div class="media-body ml-3">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <h6 class="mb-0">Kianna Carder</h6>
                                                            <small class="text-dark"><b>11 : 21 pm</b></small>
                                                        </div>
                                                        <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <a class="right-ic btn btn-primary btn-block position-relative p-2" href="#"
                                            role="button">
                                            View All
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nav-icon dropdown caption-content pl-2 ml-2 border-left">
                            <a href="#" class="search-toggle dropdown-toggle" id="dropdownMenuButton4"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/user/01.jpg' %}" class="img-fluid avatar-40 rounded" alt="user">
                                    <div class="caption ml-3">
                                        <h6 class="mb-1">{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                                        <p class="text-body mb-0">{{ request.user.email }}</p>
                                    </div>
                                </div>
                            </a>
                            <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="card shadow-none m-0">
                                    <div class="card-body p-0 text-center">
                                        <div class="media-body profile-detail text-center">
                                            <img src="{% static 'images/page-img/profile-bg.jpg' %}" alt="profile-bg"
                                                class="rounded-top img-fluid mb-4">
                                            <img src="{% static 'images/user/01.jpg' %}" alt="profile-img"
                                                class="rounded profile-img img-fluid avatar-70">
                                        </div>
                                        <div class="p-3">
                                            <h5 class="mb-1">{{ request.user.email }}</h5>
                                            <p class="mb-0">Since {{ request.user.date_joined|date:"F j, Y" }}</p>
                                            <div class="d-flex align-items-center justify-content-center mt-3">
                                                <a href="" class="btn border mr-2">Profile</a>
                                                <a href="{% url 'account:logout_user' %}" class="btn border">Sign Out</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>