{%load static%}
    <!-- Backend Bundle JavaScript -->
    <script src="{% static 'js/backend-bundle.min.js' %}"></script>
    
    <!-- Flextree Javascript-->
    <script src="{% static 'js/flex-tree.min.js' %}"></script>
    <script src="{% static 'js/tree.js' %}"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="{% static 'js/table-treeview.js' %}"></script>
    
    <!-- Masonary Gallery Javascript -->
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    
    <!-- Mapbox Javascript -->
    <script src="{% static 'js/mapbox-gl.js' %}"></script>
    <script src="{% static 'js/mapbox.js' %}"></script>
    
    <!-- Fullcalender Javascript -->
    <script src="{% static 'vendor/fullcalendar/core/main.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/daygrid/main.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/timegrid/main.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar/list/main.js' %}"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="{% static 'js/sweetalert.js' %}"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="{% static 'js/vector-map-custom.js' %}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'js/customizer.js' %}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'js/chart-custom.js' %}"></script>
    
    <!-- slider JavaScript -->
    <script src="{% static 'js/slider.js' %}"></script>
    
    <!-- app JavaScript -->
    <script src="{% static 'js/app.js' %}"></script>