<div class="col-lg-12">
    <h4 class="mb-4">Additional options</h4>  
<div class="row" >
<div class="col-lg-4" >
    <div class="card card-block card-stretch card-height">
        <div class="card-header">
            <div class="header-title">
                <h4 class="card-title">Select Additional Options</h4>
            </div>     
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap align-items-center">
                <div class="checkbox custom-checkbox d-inline-block mb-lg-3 mr-3">
                    <input type="checkbox" class="checkbox-input mr-3" id="checkbox1">
                    <label for="checkbox1" class="text-body">IPV6</label>
                </div>
                <div class="checkbox custom-checkbox d-inline-block mb-lg-3 mr-3">
                    <input type="checkbox" class="checkbox-input mr-3" id="checkbox2">
                    <label for="checkbox2" class="text-body">User Data</label>
                </div>
                <div class="checkbox custom-checkbox d-inline-block mb-lg-3 mr-3">
                    <input type="checkbox" class="checkbox-input mr-3" id="checkbox3">
                    <label for="checkbox3" class="text-body mb-0">Monitoring</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="card card-block card-stretch card-height">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title">
                <h4 class="card-title">VPC Network</h4>
            </div>                        
            <div class="card-header-toolbar">
                <a href="#" class="btn btn-sm btn-primary">Default</a>
            </div>
        </div>
        <div class="card-body">
            <div class="radio custom-radio d-inline-block mb-2 mr-4">
                <input type="radio" name="radio" id="radio1" class="mr-3" checked="">
                <label for="radio1" class="text-body">SSH Keys</label>
            </div>
            <p class="mb-0">Amet minim mollit non deserunt est.</p>
        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card card-block card-stretch card-height">
        <div class="card-header">
            <div class="header-title">
                <h4 class="card-title">Authentication</h4>
            </div>     
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap align-items-center">
                <div class="radio custom-radio d-inline-block mb-2 mr-4">
                    <input type="radio" name="bsradio" id="radio2" class="mr-3" checked="">
                    <label for="radio2" class="text-body">SSH Keys</label>
                </div>
                <div class="radio custom-radio d-inline-block mb-2">
                    <input type="radio" name="bsradio" id="radio3" class="mr-3">
                    <label for="radio3" class="text-body">Password</label>
                </div>
            </div>
            <p class="mb-0">Amet minim mollit non deserunt est.</p>
        </div>
    </div>
</div>
</div>
</div>